---
import Nav from "../components/Nav.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Kode+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pridi:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <title>{title}</title> -->
  </head>
  <Nav title={title} />
  <body>
    <!-- <h1 style={`color: ${color}`}>{title}</h1> -->
    <slot />
  </body>
  <script src="../scripts/sessionStorage.js"></script>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      height: 100%; /* Ensure the body fills the viewport height */
      margin: 0; /* Remove default margin */
      background: linear-gradient(to bottom, #000000, #000ba5 150%) fixed; /* Gradient background */
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    /* -----------<POKER LAYOUT STYLES>------------ */
    .card {
      border-radius: 10px;
    }

    .keep {
      transform: scale(0.9);
      box-shadow: 0 0 25px rgb(255, 0, 0); /* Adjust the values as needed */
    }

    /* -----------<My Styles>------------ */
    h1 {
      text-align: center;
      font-size: 4em;
      font-family: "Pridi", serif;
      font-weight: bold;
    }
  </style>


</html>
