---
import Nav from "../components/Nav.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Kode+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pridi:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <title>{title}</title> -->
  </head>
  <Nav title={title} />
  <body>
    <!-- <h1 style={`color: ${color}`}>{title}</h1> -->
    <slot />
  </body>
  <script src="../scripts/sessionStorage.js"></script>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      height: 100%; /* Ensure the body fills the viewport height */
      margin: 0; /* Remove default margin */
      background: linear-gradient(to bottom, #000000, #000ba5 150%) fixed; /* Gradient background */
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    /* -----------<POKER LAYOUT STYLES>------------ */
    .card {
      border-radius: 10px;
    }

    .keep {
      transform: scale(0.9);
      opacity: 0.75; /* Adjust the opacity value to make it fainter */
      filter: brightness(80%) contrast(70%); /* Adjust brightness and contrast to make it look pressed */
    }

    .kept {
      transform: scale(0.95);
      filter: brightness(90%) contrast(80%); /* Adjust brightness and contrast to make it look pressed */
    }

    /* -----------<My Styles>------------ */
    h1 {
      text-align: center;
      font-size: 4em;
      font-family: "Pridi", serif;
      font-weight: bold;
    }

    .win-display {
    position: relative; 
    width: 15%;
    background-color: #f0f0f0; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
}


/*---------- 3D BUTTON ----------- */
.mainbutton {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
}

.mainbutton-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  transition-property: transform;
  transition-duration: .2s;
  -webkit-user-select: none;
  user-select: none;
}

.mainbutton:active .mainbutton-top {
  transform: translateY(6px);
}

.mainbutton-top::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(#cd3f64, #9d3656);
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: .2s;
}

.mainbutton:active .button-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.mainbutton-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #803;
  background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
  transition-property: border-radius, padding-top;
  transition-duration: .2s;
}

.mainbutton:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.mainbutton-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
}
  </style>


</html>
