---
import Layout from "../layouts/Layout.astro";
import PokerMenu from "../components/PokerMenu.astro";
interface Props {
  title: string;
  points: {
    hand: string;
    points: number;
  }[];
}

const { title, points } = Astro.props;

const midpoint = Math.ceil(points.length / 2.5);

const leftPoints = points.slice(0, midpoint);
const rightPoints = points.slice(midpoint);

// Styles for points tables. Not ideal but wont work in css for some reason
const handStyles =
  "color: white; padding: 10px; border: 2px solid orange; font-weight: bold; background-color: black; width: 100px;";

const pointStyles =
  "color: yellow; padding: 10px; border: 2px solid orange; background-color: black;";

const leftPointsTable = leftPoints
  .map(
    (points) => `
    <table class="points-table" style="padding-bottom:20px;">
      <tr><td style="${handStyles}">${points.hand}</td></tr>
      <tr><td style="${pointStyles}">${points.points}</td></tr>
    </table>
  `
  )
  .join("");

const rightPointsTable = rightPoints
  .map(
    (points) => `
    <table class="points-table" style="padding-bottom:20px;">
        <tr><td style="${handStyles}">${points.hand}</td></tr>
      <tr><td style="${pointStyles}">${points.points}</td></tr>
    </table>
  `
  )
  .join("");
---

<Layout title={title}>
  <h3 class="redraw-instruction">Select cards to keep.</h3>
  <div class="container">
    <ul class="left-menu">
      <li>
        <table class="points-table">
          <tbody set:html={leftPointsTable} />
        </table>
      </li>
    </ul>

    <div class="cards"></div>

    <ul class="right-menu">
      <li>
        <table class="points-table">
          <tbody set:html={rightPointsTable} />
        </table>
      </li>
    </ul>
  </div>
  <PokerMenu />
</Layout>
<style>
  .cards {
    padding-top: 50px;
  }

  .redraw-instruction {
    text-align: center;
    color: white;
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
  }

  .left-menu,
  .right-menu {
    list-style: none;
    padding: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .left-menu li,
  .right-menu li {
    display: block;
    padding-bottom: 20px;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .right-menu {
      display: none;
    }
    .left-menu {
      display: none;
    }
    
  }
</style>
<script src="../scripts/preload.js"></script>
<script src="../scripts/poker.js"></script>
